@import './base.css';

body {
  background-image: url('./background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}


h1 {
  font-size: 4.0rem;
}